arrow==1.2.2
colorlover==0.3.0
dash_bootstrap_components==1.0.3
dash_daq==0.5.0
dash_labs==1.0.8
Faker==13.12.0
fastapi==0.78.0
numpy==1.20.3
pandas==1.2.4
plotly==5.6.0
pydantic==1.9.1
pytest==7.1.2
python-dotenv==0.20.0
requests==2.25.1
sdv==0.15.0
selenium==4.1.5
SQLAlchemy==1.4.36
sqlmodel==0.0.6
starlette==0.19.1
