# ./envrc
# Ask direnv to load from .env to improve compatability with docker
# https://stackoverflow.com/a/58862214/992999
dotenv

# Activate conda environment
# as per https://linuxtut.com/en/909f9619bc8c4330d523/
eval "$(conda shell.bash hook)"
conda activate hyuiv4
