# Secrets and credentials should be stored here as environmental variables. For example:
#
#   # Google Cloud authentication credentials
#   export GOOGLE_APPLICATION_CREDENTIALS="path/to/credentials.json"
#
# These environment variables can then be read in by Python using `os.getenv`:
#
#   --------------------------------------------------------
#   import os
#
#   # Google Cloud authentication credentials
#   GOOGLE_APPLICATION_CREDENTIALS = os.getenv("GOOGLE_APPLICATION_CREDENTIALS")
#   --------------------------------------------------------
#
# The `.secrets` file is NOT version-controlled!
# The `.secrets.example` file is provided as a convenience and is version-controlled!
export ENV=dev
export UDS_DB=uds
export UDS_USER=********
export UDS_PWD=********
export UDS_HOST=123.456.789.000
