arrow==1.2.2
dash==2.4.1
dash_bootstrap_components==1.1.0
gevent
gunicorn==20.1.0
numpy>=1.22.4
pandas>=1.1.4
plotly==5.8.0
requests==2.27.1
sqlmodel==0.0.6
fastapi==0.78.0
psycopg2-binary==2.9.3
requests==2.27.1
sqlmodel==0.0.6
tables==3.7.0
uvicorn==0.17.6
pytest==7.1.2
