/*
Fixes problems with drop down not displaying when used with bootstrap
https://community.plotly.com/t/datatable-with-bootstrap-styling-issues-with-dropdowns/60687/3
 */
.dash-table-container .dropdown {
  position: static;
}

.dash-spreadsheet .Select-value-label {
  padding-right: 20px;
}